@{ 
    Layout = null;
}

@model CQRS.Service.QueryResults.ProcessByIdQueryResult

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/flowchart.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body ng-app="app"
      ng-controller="AppCtrl"
      mouse-capture
      ng-keydown="keyDown($event)"
      ng-keyup="keyUp($event)">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Flowchart Demo</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

                <ul class="nav nav-sidebar">
                    <li><a href="#" ng-click="addNewNode()">Add a new state</a></li>
                    <li><a href="#" ng-click="deleteSelected()">Delete state</a></li>
                </ul>

                @*only displayed when nothing but exactly one transition is selected*@
                <ul class="nav nav-sidebar">
                    <li><a href="#">Add action...</a></li>
                </ul>

                @*only displayed when nothing but exactly two states are selected*@
                <ul class="nav nav-sidebar">
                    <li><a href="#">Add transition...</a></li>
                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="height: 1000px;">
                <flow-chart style="width: 100%; height: 100%;" chart="chartViewModel"></flow-chart>
                <textarea style="width: 100%; height: 100%;" chart-json-edit="" view-model="chartViewModel" class="ng-isolate-scope"></textarea>
            </div>
        </div>
    </div>


    @*<button ng-click="addNewNode()"
                title="Add a new node to the chart">
            Add Node
        </button>
        <button ng-click="addNewInputConnector()"
                ng-disabled="chartViewModel.getSelectedNodes().length == 0"
                title="Add a new input connector to the selected node">
            Add Input Connector
        </button>
        <button ng-click="addNewOutputConnector()"
                ng-disabled="chartViewModel.getSelectedNodes().length == 0"
                title="Add a new output connector to the selected node">
            Add Output Connector
        </button>
        <button ng-click="deleteSelected()"
                ng-disabled="chartViewModel.getSelectedNodes().length == 0 && chartViewModel.getSelectedConnections().length == 0"
                title="Delete selected nodes and connections">
            Delete Selected
        </button>*@

    @Html.ActionLink(" ", "JsonFlowchart", "Process", null, new { id = "jsonflowchart", @class = "hide" })

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/flowchart/svg_class.js" type="text/javascript"></script>
    <script src="~/Scripts/flowchart/mouse_capture_service.js" type="text/javascript"></script>
    <script src="~/Scripts/flowchart/dragging_service.js" type="text/javascript"></script>
    <script src="~/Scripts/flowchart/flowchart_viewmodel.js" type="text/javascript"></script>
    <script src="~/Scripts/flowchart/flowchart_directive.js" type="text/javascript"></script>

    <script>
        //
        // Define the 'app' module.
        //
        angular.module('app', ['flowChart', ])
        .controller('AppCtrl', ['$scope', 'svcApp', function AppCtrl($scope, svcApp) {

            //
            // Code for the delete key.
            //
            var deleteKeyCode = 46;

            //
            // Code for control key.
            //
            var ctrlKeyCode = 65;

            //
            // Set to true when the ctrl key is down.
            //
            var ctrlDown = false;

            //
            // Code for A key.
            //
            var aKeyCode = 17;

            //
            // Code for esc key.
            //
            var escKeyCode = 27;

            //
            // Selects the next node id.
            //
            var nextNodeID = 10;


            svcApp.getFlowchart().then(function (data) {
                $scope.chartViewModel = new flowchart.ChartViewModel(data);
            }, function () { });

            //
            // Event handler for key-down on the flowchart.
            //
            $scope.keyDown = function (evt) {

                if (evt.keyCode === ctrlKeyCode) {

                    ctrlDown = true;
                    evt.stopPropagation();
                    evt.preventDefault();
                }
            };

            //
            // Event handler for key-up on the flowchart.
            //
            $scope.keyUp = function (evt) {

                if (evt.keyCode === deleteKeyCode) {
                    //
                    // Delete key.
                    //
                    $scope.chartViewModel.deleteSelected();
                }

                if (evt.keyCode == aKeyCode && ctrlDown) {
                    //
                    // Ctrl + A
                    //
                    $scope.chartViewModel.selectAll();
                }

                if (evt.keyCode == escKeyCode) {
                    // Escape.
                    $scope.chartViewModel.deselectAll();
                }

                if (evt.keyCode === ctrlKeyCode) {
                    ctrlDown = false;

                    evt.stopPropagation();
                    evt.preventDefault();
                }
            };

            //
            // Add a new node to the chart.
            //
            $scope.addNewNode = function () {


                var nodeName = prompt("Enter a node name:", "New node");
                if (!nodeName) {
                    return;
                }

                //
                // Template for a new node.
                //
                var newNodeDataModel = {
                    name: nodeName,
                    id: nextNodeID++,
                    x: 0,
                    y: 0,
                    inputConnectors: [
                        {
                            name: "X"
                        },
                        {
                            name: "Y"
                        },
                        {
                            name: "Z"
                        }
                    ],
                    outputConnectors: [
                        {
                            name: "1"
                        },
                        {
                            name: "2"
                        },
                        {
                            name: "3"
                        }
                    ],
                };


                $scope.chartViewModel.addNode(newNodeDataModel);
            };

            //
            // Add an input connector to selected nodes.
            //
            $scope.addNewInputConnector = function () {
                var connectorName = prompt("Enter a connector name:", "New connector");
                if (!connectorName) {
                    return;
                }

                var selectedNodes = $scope.chartViewModel.getSelectedNodes();
                for (var i = 0; i < selectedNodes.length; ++i) {
                    var node = selectedNodes[i];
                    node.addInputConnector({
                        name: connectorName,
                    });
                }
            };

            //
            // Add an output connector to selected nodes.
            //
            $scope.addNewOutputConnector = function () {
                var connectorName = prompt("Enter a connector name:", "New connector");
                if (!connectorName) {
                    return;
                }

                var selectedNodes = $scope.chartViewModel.getSelectedNodes();
                for (var i = 0; i < selectedNodes.length; ++i) {
                    var node = selectedNodes[i];
                    node.addOutputConnector({
                        name: connectorName,
                    });
                }
            };

            //
            // Delete selected nodes and connections.
            //
            $scope.deleteSelected = function () {

                $scope.chartViewModel.deleteSelected();
            };

            //
            // Create the view-model for the chart and attach to the scope.
            //
            //$scope.chartViewModel = new flowchart.ChartViewModel(chartDataModel);
        }]);

        angular.module('app').factory('svcApp', ['$http', function ($http) {
            var _getFlowchart = function () {
                return $http.get($("#jsonflowchart").attr("href") + "?id=1")
                        .then(function (response) {
                            return response.data;
                        })
            };
            return {
                getFlowchart: _getFlowchart
            }
        }]);
    </script>
</body>

</html>


